body {
    /*https://colorhunt.co/palette/f8f4e1af8f6f74512d543310*/
    font-family: "Nanum Gothic Coding", monospace;
    background-color: #FFFFFF;
    color: #543310;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background-color: #FFFFFF;
    max-width: 600px;
    padding: 20px;
}
h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    margin-bottom: 40px;
}
.label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
}
.button {
    font-family: "Nanum Gothic Coding", monospace;
    background-color: #543310;
    color: #FFFFFF;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.button:hover {
    background-color: #333333;
}
.result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}